@import "_mixin";


.nav_f{
    font-size: 16px;
}

.inner{
    width: 90%;
    margin: 0 auto;
}



#nano_wrap{
    width: 100%;
    height: 100%;
    .container{
        width: 100%;
        height: 100%;
    }

}

#header{    
    height: 100px;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #eee;
    width: 100%;
    z-index: 100;
    @media (max-width:768px) {
        height: 70px;
    }

    @media (max-width:480px) {
        height: 60px;
    }
    .navbar{
        
 
        .container{
            
            @include flex_between;
          
            height: 100px;
            @media (max-width:1460px) {
               
            }


            @media (max-width:1024px) {
                
            }

            @media (max-width:768px) {
                height: 70px;
            }

            @media (max-width:480px) {
               
                height: 60px;
            }

         

            #navbarNav{
                @include flex_end;
                width: 100%;
                
                .navbar-nav{
                    @include flex_center;

                    @media (max-width:1024px) {
                        display: none;
                    }
                    
                
                }
                .consulting{
                    margin: 0 0 0 5%;
                    a{

                    }
                }
                ul{
                    li{
                        width: 160px;
                        text-align: center;
                        

                        @media (max-width:1280px) {
                            width: 130px;
                        }
                        a{
                            
                            font-weight: 600;
                            &:hover{
                                color: #1445CE;
                            }
                        }

                        
                    }
                }
                .consulting{
                    a{
                        background: #1445CE;
                        color: #fff;
                        width: 140px;
                        height: 45px;
                        line-height: 45px;
                        color: #fff;
                        font-weight: 600;
                        border-radius: 30px;
                        text-align: center;
                    }
                }
                .navbar-toggler{
                    position: relative;
                    width: 42px;
                    height: 42px;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    padding: 14px 4px 15px;
                    
                    @media (max-width:480px) {
                        width: 35px;
                    }
                    .btn_line_02{
                        margin: 10px;
                        
                    }
                    
                    &.on{
                      .btn_line_01{
                        transform:rotate(45deg) translate(6px, 0px);
                      }
                      .btn_line_02{
                        transform: rotate(-45deg) translate(0px, 6px);
                        margin: 0;
                      }
                    }
                    .hamburger-menu{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        span{
                            display: block;
                            width: 100%;
                            height: 4px;
                            position: absolute;
                            left: 0;
                            transition: transform 0.3s ease;
                           

                            &::before{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #232323;
                            }
                            &::after{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #232323;
                            }
                           
                            
                        }
                      
                    }
                }
            }

            
        }
    }
    .logo{
        img{
            max-width:270px;

            @media (max-width:1280px) {
                max-width: 230px;
            }

            @media (max-width:768px) {
                max-width: 180px;
            }

            @media (max-width:480px) {
               
            }
        }
    }
    .navbar-toggler{
        display: none;

        @media (max-width:1024px) {
            display: block;
        }
    }

}


#aside{
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 100px 0 0;
    font-size: 11px;
    background-color: #fff;
    z-index: 99;
    -webkit-transition: right 300ms ease-in-out;
    -moz-transition: right 300ms ease-in-out;
    -o-transition: right 300ms ease-in-out;
    transition: right 300ms ease-in-out;

    @media (max-width:768px) {
        padding: 70px 0 0;
    }

    @media (max-width:480px) {
        padding: 60px 0 0;
    }
    &.on{
        right: 0;
    }

    .navbar-nav_m{
        width: 100%;
        height: 100%;
        padding: 50px 0 0 50px;
        li{

            line-height: 3;
            a{
                font-size: 20px;
                font-weight:600;
                i{
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background: #1445CE;
                    border-radius: 50px;
                }
            }
        }
    }
}



#footer{
    position: relative;
    padding: 50px 0 0;
    .inner{
        .flex{
            @include flex_between;
            padding: 0 50px 30px;
            border-bottom: 1px solid #ddd;
            .f_logo{

            }
            ul{
                @include flex_between;
                li{
                    a{
                        font-weight: 600;
                        margin: 0 30px;
                        
                        &:hover{
                            color: #1445CE;
                            transition: all 1s;
                        }
                    }
                }
            }
        }
        .b_box{
            @include flex_between;
            padding: 30px 50px;
            .address{
                
                span{
                    color: #AAAAAA;
                }
            }
            .sns{
                @include flex_between;
                a{
                    display: block;
                    width: 25px;
                    margin: 0 5px;
                }
            }
        }
    }
    .address {
        color: #AAAAAA;
        line-height: 1.8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        
    }
    .copyright {
       color: #AAAAAA;
       
        
    }
}

#totop{
    opacity: 0;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    position: sticky;
    z-index: 10000;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.5s;
    width: 40px;
    height: 40px;
   
}



@include breakpoint_desktop_1280{
    .nav_f{
        font-size: 14px;
    }
    #footer {
        .inner {
            .flex{
                padding: 0 0px 25px;
                #f_logo{
                    img{
                        max-width: 200px;
                    }
                }
                ul{
                    li{
                        a{
                            margin: 0 20px;
                        }
                    }
                }
            }
            .b_box{
                padding: 30px 0px;
                .address{
                   span{
                       br{
                        display: none;
                       }
                   }
                }
            }
        }
    }
}

@include breakpoint_tablet_1024{
   
    #header {
        .navbar {
            .container {
                #navbarNav {
                    .consulting{
                        display: none;
                    }
                }
            }
        }
    }

}



@include breakpoint_tablet_768{
    #aside {
        .navbar-nav_m{
            padding: 30px 0 0 30px;
        }
    }
    #footer {
        .inner {
            .flex{
                display: block;
                ul{
                    li{
                        a{
                            margin: 30px 0 0;
                        }
                    }
                }
            }
            .b_box{
                display: block;
                .sns{
                    position: absolute;
                    top: 60px;
                    right: 20px;
                }
            }
        }
    }
}


@include breakpoint_mobile_414{
    .nav_f{
        font-size: 12px;
    }
    #footer {
        .inner {
            .flex {
                #f_logo {
                    img{
                        max-width: 160px;
                    }
                }
            }
        }
    }
}
