@import "_mixin";



.ani-item, .ani-item .ani-inside {
    opacity: 0;
    transition: 1s ease-in-out;
  }
  
  .ani-vertical {
    opacity: 0;
    transform: translateY(70px);
  }
  
  .ani-hor {
    opacity: 0;
    transform: translateX(10%);
  }
  .ani-aor {
    opacity: 0;
    transform: translateX(-10%);
  }
  
  .s-line[class*=ani-] {
    transform: scale(0, 0);
  }
  
  .s-line.vertical[class*=ani-] {
    transform-origin: center top;
  }
  
  .s-line.horizontal[class*=ani-] {
    transform-origin: left center;
  }
  
  .ani-item.done, .ani-item.done .ani-inside {
    opacity: 1;
    transform: none;
  }
  
  .ani-item.d100, .ani-item .d100 {
    transition-delay: 100ms;
  }
  
  .ani-item.d200, .ani-item .d200 {
    transition-delay: 200ms;
  }
  
  .ani-item.d300, .ani-item .d300 {
    transition-delay: 300ms;
  }
  
  .ani-item.d400, .ani-item .d400 {
    transition-delay: 400ms;
  }
  
  .ani-item.d500, .ani-item .d500 {
    transition-delay: 500ms;
  }
  
  .ani-item.d600, .ani-item .d600 {
    transition-delay: 600ms;
  }
  
  .ani-item.d700, .ani-item .d700 {
    transition-delay: 700ms;
  }
  
  .ani-item.d800, .ani-item .d800 {
    transition-delay: 800ms;
  }
  
  .ani-item.d900, .ani-item .d900 {
    transition-delay: 900ms;
  }
  
  .ani-item.d1000, .ani-item .d1000 {
    transition-delay: 1000ms;
  }
  .ani-item.d1200, .ani-item .d1200 {
    transition-delay: 1200ms;
  }
  .ani-item.d1500, .ani-item .d1500 {
    transition-delay: 1500ms;
  }
  
  .ani-item.d2000, .ani-item .d2000 {
    transition-delay: 2000ms;
  }


  
.sub_big{
    font-size: 60px;
}
.sub_gig{
    font-size: 50px;
}
.sub_lg{
    font-size: 40px;
}
.sub_mi{
    font-size: 34px;
}
.sub_nix{
    font-size: 20px;
}
.sub_nom{
    font-size: 16px;
}
.sub_som{
    font-size: 14px;
}

.none480{
    display: none;
}
#about_area{
    background: url("../img/about_bg.png")no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 310px;
    .inner{
        @include flex_between;
        height: 100%;
        width: 80%;
        .title{
            font-weight: 800;
            color: #fff;
        }
        .category{
            @include flex_center;
            border-top: 2px solid #fff;
            padding: 7px 0 0;
            li{
                
                &.line{
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    margin: 0 6px;
                }
                a{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}


#about01{
    //max-width: 1600px;
    margin: 100px auto 0;
    width: 85%;
    
    .inner{
        .txt{
            text-align: center;
            .title{
                font-weight: 600;
            }
            .sub_title{
                color: #888888;
            }
        }
        .bg{
            background: url("../img/about01_bg.png")no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height:100%;
            padding: 100px 0;
            margin: 50px 0 0;
            .title{
                color: #fff;
                font-weight: 700;
                padding: 0 0 0 100px;
            }
            .introduction{
                background: #fff;
                background: #fff;
                width: 500px;
                height: 380px;
                padding: 30px 30px 0;
                margin: 0 0 0 100px;
                li{
                    display: flex;                    
                    align-items: center;
                    line-height: 3;
                    span{
                        color: #555;
                        &.sub_nom{
                            width: 170px;
                            
                        }
                        &.sub_som{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
#about02{
 
    
    .flex{
        
        width: 100%;
        margin: 0 auto 100px;
        .cont{
            @include flex_between;
            height: 600px;
            .bg{
                background: #f8f8f8;
                width: 25%;
                height: 100%;
            }
            .txt{
                width: 90%;
                
                height: 100%;
                background: #fff;
                .box{
                    border: 4px solid #1445CE;
                    margin: 100px;
                    height: 310px;
                    padding: 50px 8%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                }
                .title{
                    color: #1445CE;
                    font-weight: 600;
                }
                .sub_title{
                    p{
                        color: #555555;
                    }
                    a{
                        color: #555555;
                        border: 1px solid #ddd;
                        width: 200px;
                        height: 45px;
                        text-align: center;
                        line-height: 45px;
                        margin: 20px 0 0;
                    }
                }
            }
            .map_area{
                width: 100%;
                .root_daum_roughmap{
                    width: 100%!important;
                }
            }
        }

    }
}


#product_area{
    background: url("../img/product_bg.png")no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 310px;
    .inner{
        @include flex_between;
        height: 100%;
        width: 80%;
        .title{
            font-weight: 800;
            color: #fff;
        }
        .category{
            @include flex_center;
            border-top: 2px solid #fff;
            padding: 7px 0 0;
            li{
                
                &.line{
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    margin: 0 7px;
                }
                a{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

#product01{
    margin: 100px auto 0;
    .inner{
        .txt{
            text-align: center;
            .title{
                font-weight: 600;
            }
            .sub_title{
                color: #888888;
            }
        }
        .swiper_area{
            display: flex;
            align-items: center;
            margin: 50px 0 0;
            position: relative;
            
            .container{
                max-width: 1600px;
                margin: 0 auto;
                
                overflow: hidden;
              }
              .swiper-container2 {
                  width: 100%;
                  height: 100%;
                  .swiper-button-next, 
                    .swiper-rtl .swiper-button-prev{
                        display: none;
                    }
                    .swiper-button-prev, 
                    .swiper-rtl .swiper-button-next{
                        display: none;
                    }

                    .swiper-button-next:after, 
                    .swiper-rtl .swiper-button-prev:after{
                        color: #1445CE;
                        font-size: 30px;
                    }
                    .swiper-button-prev:after, 
                    .swiper-rtl .swiper-button-next:after{
                        color: #1445CE;
                        font-size: 30px;
                    }
                  .swiper-wrapper{
                    
                    .swiper-slide-active{
                         .logo_box {
                             a {
                                 figure{
                                     border:2px solid #1445CE;
                                 }
                             }
                        }
                      }
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;                  
                        width:200px;
                        height:100%;
                        
                          .logo_box{
                              
                              a{
                                  text-align: center;
                                  display: block;
                                  figure{
                                      border: 1px solid #ddd;
                                      height: 80px;
                                      line-height: 80px;
                                      padding: 0 15px;
                                      
                                  }
                                  span{
                                    color: #888888;
                                    display: block;
                                    margin: 10px 0 0;
                                    font-weight: 600;
                                  }
                              }
                          }
                                          
                      
                    }
                  }
                  
              }

            
        }
    }
}
#product02{
    margin: 100px 0;
    .inner{
        .txt{
            text-align: center;
            .title{
                font-weight: 600;
            }
            .line{
                width: 80px;
                height: 4px;
                background: #1445CE;
                margin: 30px auto 0;
            }
        }
        .list_box{
            margin: 10% 0;
            .tab_area{
                ul{
                    @include flex_between;
                    li{
                        width: 100%;
                        text-align: center;
                        
                        a{
                            color: #1445CE;
                            border: 1px solid #1445CE;
                            padding: 30px 0;
                            &.active{
                                color: #fff;
                                background: #1445CE;
                            }
                        }
                    }
                }
            }
            .list_area{
                width: 85%;
                margin: 50px auto 0;
                ul{
                    &:after{
                        @include clearfix;
                    }
                    li{
                        text-align: center;
                        background: #F8F8F8;
                        float: left;
                        width: 31.33%;
                        margin: 0 3% 5% 0;

                        &:nth-of-type(3n){
                            margin: 0 0 5% 0;
                        }
                        .thumb{
                            padding: 5%;
                            a{
                                
                            }
                        }
                        .txt{
                            padding: 0 5% 5%;
                            a{
                                span{
                                    display: block;
                                    &.category{
                                        color: #1445CE;
                                        border: 2px solid #1445CE;
                                        width: 120px;
                                        border-radius: 30px;
                                        padding: 3px 0;
                                        margin: 0 auto 5%;
                                        font-weight: 600;
                                    }
                                }
                                .title_box{
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    padding: 5% 0;
                                    .enf{
                                        color: #888888;
                                        white-space: normal;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        width: 100%;
                                    }
                                    .hnf{
                                        color: #555555;
                                        font-weight: 600;
                                        white-space: normal;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        width: 100%;
                                    }
                                }

                               
                            }
                        }
                        .more{
                            color: #888;
                            border: 1px solid #ddd;
                            height: 45px;
                            line-height: 45px;
                            width: 200px;
                            margin: 5% auto 0;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}


#contact_area{
    background: url("../img/contact_bg.png")no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 310px;
    .inner{
        @include flex_between;
        height: 100%;
        width: 80%;
        .title{
            font-weight: 800;
            color: #fff;
        }
        .category{
            @include flex_center;
            border-top: 2px solid #fff;
            padding: 7px 0 0;
            li{
                
                &.line{
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    margin: 0 7px;
                }
                a{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

#contact01{
    width: 90%;
    margin: 100px auto 0;
    .inner{
        .txt{
            text-align: center;
            .title{
                font-weight: 600;
                
            }
            .sub_title{
                color: #888888;
            }
        }
        .form_area{
            margin: 50px auto;
            width: 80%;
            @include flex_start;
            align-items: center;
            figure{
               width: 700px;
               .pc{
                display: block;
                }
                .m{
                    display: none;
                }
            }
            .inq{
                width: 100%;
                margin: 0 0 0 5%;
                .title{
                    margin: 30% 0 0px;
                }
                form{
                    margin: 15% 0 0;
                    
                }
                p{
                    display: flex;
                    margin: 10px 0;
                    label{
                        width: 120px;
                    }
                    input{
                        width: 100%;
                        height: 35px;
                        padding: 0 10px;
                        border: 1px solid #ddd;
                        outline: 0;
                    }
                    textarea{
                        width: 100%;
                        resize: none;
                        padding:10px;
                        height: 100px;
                        border: 1px solid #ddd;
                        outline: 0;
                    }
                    button{
                        border: 0;
                        outline: 0;
                        background: #1445CE;
                        color: #fff;
                        height: 50px;
                        line-height: 50px;
                        width: 300px;
                        margin: 20px auto 0;
                        font-weight: 600;
                    }
                }

                .title{
                    color: #1445CE;
                    font-weight: 600;
                }
            }
        }
    }
}
#datail_area{
    background: url("../img/product_bg.png")no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 310px;
    .inner{
        @include flex_between;
        height: 100%;
        width: 80%;
        .title{
            font-weight: 800;
            color: #fff;
        }
        .category{
            @include flex_center;
            border-top: 2px solid #fff;
            padding: 7px 0 0;
            li{
                
                &.line{
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    margin: 0 10px;
                }
                a{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

#datail01{
    position: relative;
    margin: 10% auto;
    width: 90%;
    .inner{
        .flex{
            display: flex;
            justify-content: space-between;

            .swiper_area{
                width: 50%;
                position: relative;

                .th_box{
                    display: flex;
                    position: relative;
                    align-items: start;
                    .mySwiper1{
                        
                        margin: 30px 0;
                    }
                    .swiper_arrow{
                        position: relative;
                        width: 150px;
                        top: 50px;
                       .line{
                        width: 3px;
                        height: 30px;
                        background: #1445CE;
                        position: absolute;
                        top: -14px;
                        left: 50%;
                       }
                        .swiper-button-prev:after, 
                        .swiper-rtl .swiper-button-next:after{
                            color: #1445CE;
                            font-size: 30px;
                            font-weight: 600;
                        }
                        .swiper-button-next:after, 
                        .swiper-rtl .swiper-button-prev:after{
                            color: #1445CE;
                            font-size: 30px;
                            font-weight: 600;
                        }
                       
                    }
                }


            }
            .detail_txt{
                width: 100%;
                margin: 0 0 0 4%;
                .flex{
                    padding: 0 0 20px 0;
                    border-bottom: 1px solid #ddd;
                    display: flex;
                    align-items: end;
                    .category{
                        color: #1445CE;
                        border: 2px solid #1445CE;
                        width: 120px;
                        border-radius: 30px;
                        padding: 3px 0;
                        text-align: center;
                        font-weight: 600;
                    }
                    .subtxt{
                        color: #888888;
                    }
                }
                .detail_container{
                    display: flex;
                    align-content: space-between;
                    flex-wrap: wrap;
                    height: 600px;
                    .subject {
                        font-weight: 600;
                        margin: 20px 0;
                        width: 100%;
                    }
                    .box{
                        border: 1px solid #ddd;
                        width: 100%;
                        ul{
                            padding: 20px;
                            li{
                                color: #888;
                                display: flex;
                                align-items:baseline;
                                line-height: 2;
                                i{
                                    width: 5px;
                                    height: 5px;
                                    background: #ddd;
                                    display: inline-block;
                                    vertical-align: middle;
                                    border-radius: 30px;
                                    margin: 0 5px 0 0;
                                }
                            }
                        }
                    }
                    .list_more{
                        width: 250px;
                        height: 60px;
                        line-height: 60px;
                        background: #f8f8f8;
                        border: 1px solid #ddd;
                        text-align: center;
                        margin: 0 auto;
                        color: #888;
                    }
                }

            }

        }
        .detail_box{
            margin: 10% 0 0;
            .title{
                text-align: center;
                color: #888;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #ddd;
            }
            .area{
                max-width: 35%;
                margin: 50px auto;
            }
        }
    }
}


@include breakpoint_desktop_1600{
    #product01 {
        .inner {
            .swiper_area {
                .container{
                    margin: 0 50px;
                
                    .swiper-container2{
                    
                        .swiper-button-next, 
                        .swiper-rtl .swiper-button-prev{
                            display: block;
                        }
                        .swiper-button-prev, 
                        .swiper-rtl .swiper-button-next{
                            display: block;
                        }
                        .swiper-slide{
                            width: 195px;
                        }
                    }
                }
            }
        }
    }

}

@include breakpoint_desktop_1360{
    .sub_nom{
        font-size: 14px;
    }
    #datail01 {
        .inner {
            .flex {
                .detail_txt {
                    .detail_container {
                        .box{
                            margin: 0;
                        }
                    }
                }
                .swiper_area {
                    .th_box {
                        .swiper_arrow{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    
}

@include breakpoint_desktop_1280{
    .sub_big{
        font-size: 50px;
    }
    .sub_gig{
        font-size: 40px;
    }
    .sub_mi{
        font-size: 30px;
    }
    .sub_nix{
        font-size: 18px;
    }
    .sub_nom
    #about_area{
        height: 250px;
    }
    #about01 {
        .inner {
            .bg{
                padding: 50px 0 70px;
            }
        }
    }
    #about02 {
        .flex {
            .cont{
                height: 500px;
                .map_area{
                    .root_daum_roughmap {
                        .wrap_map{
                            height: 468px!important;
                        }
                    }
                }
                .txt{
                    .box{
                        margin: 56px 67px;
                        height: 280px;
                    }
                }
            }
        }
    }
    #product_area{
        height: 250px;
    }
    #product01 {
        .inner {
            .swiper_area {
                .swiper-container2 {
                    .swiper-wrapper {
                        .swiper-slide {
                            .logo_box {
                                a{
                                    figure{
                                        height: 70px;
                                        line-height: 70px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #product02 {
        .inner {
            .list_box {
                .tab_area {
                    ul{
                        li{
                        
                            a{
                                padding: 20px 0;
                            }
                        }
                    }
                }
                .list_area {
                    ul{
                        li{
                            .more{
                                width: 145px;
                            }
                            .txt {
                                a{
                                    span{
                                        &.category{
                                            width: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #contact_area{
        height: 250px;
    }
    #datail_area{
        height: 250px;
    }
}

@include breakpoint_tablet_1024{
    #about01 {
        .inner {
            .bg {
                .title{
                    text-align: center;
                    padding: 0 0 20px 0;
                }
                .introduction{
                    margin: 0 auto;
                }
            }
        }
    }
    #about02{
        .flex {
            width: 77%;
            margin: 0 auto 50px;
            .cont{
                display: block;
                height: 100%;
                .txt{
                    width: 100%;
                }
                .bg{
                    display: none;
                }
            }
        }
    }
    #product01 {
        .inner {
            .swiper_area {
                .swiper-container2 {
                    .swiper-wrapper {
                        .swiper-slide{
                            width: 180px;
                        }
                    }
                }
            }
        }
    }
    #product02 {
        .inner {
            .list_box {
                .list_area {
                    ul{
                        li{
                            width: 48.5%;
                            &:nth-of-type(2n){
                                margin: 0 0 5% 0;
                            }
                            &:nth-of-type(3n){
                                margin: 0 3% 5% 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact01 {
        .inner {
            .form_area{
                width: 100%;
                .inq{
                    p{
                        button{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    #datail01 {
        .inner{
            .detail_box{
                .area{
                    max-width: 80%;
                }
            }
            .flex{
                display: block;
                .swiper_area{
                    width: 100%;
                    margin: 0 auto;
                }
                .detail_txt{
                    width: 100%;
                    margin: 0 0 10% 0;
                    .detail_container{
                        align-content: flex-start;
                        height: 100%;
                        .list_more{
                            margin: 5% auto;
                        }
                    }
                }
            }

        }
    }
}

@include breakpoint_tablet_768{
    .sub_big{
        font-size: 45px;
    }
    .sub_gig{
        font-size: 35px;
    }
    #about01 {
        .inner {
            .bg {
                .introduction{
                    width: 400px;
                    padding: 30px;
                }
            }
        }
    }
    #about02 {
        .flex {
            .cont {
                .txt {
                    .box{
                        height: 240px;
                    }
                }
            }
        }
    }
    #contact01 {
        
        .inner {
            .form_area{
                display: block;
                figure{
                    width: 100%;
                    .pc{
                        display: none;
                    }
                    .m{
                        display: block;
                    }
                }
                .inq{
                    margin: 0;
                    .title{
                        margin: 10% 0 0;
                    }
                    form{
                        margin: 50px 0 0;

                       
                    }
                }
            }
        }
    }

 
}
@include breakpoint_mobile_640{
    
    #about01 {
        .inner {
            .bg {
                .introduction{
                    width: 300px;
                    height: 400px;
                }
            }
        }
    }
    #about02 {
        .flex {
            .cont{
                .txt {
                    .box{
                        margin: 56px 30px;
                        height: 200px;
                    }
                }
                .map_area {
                    .root_daum_roughmap {
                        .wrap_map{
                            height: 350px!important;
                        }
                    }
                }
            }
        }
    }
    
}

@include breakpoint_mobile_540{
    .sub_big{
        font-size: 40px;
    }
    .sub_gig{
        font-size: 30px;
    }
    .sub_lg{
        font-size: 30px;
    }
    .sub_som{
        font-size: 12px;
    }
    .sub_nom{
        font-size: 14px;
    }
    .sub_nix{
        font-size: 15px;
    }
    #about_area{
        height: 200px;
        .inner{
            width: 90%;
        }
    }
    #about01{
        width: 100%;
        .inner {
            .bg {
                .introduction{
                    height: 355px;
                }
            }
        }
    }
    #about02 {
        .flex{
            width: 90%;
        }
    }
    #product_area{
        height: 200px;
        .inner{
            width: 90%;
        }
        
    }
    #product02 {
        .inner {
            .list_box {
                .list_area{
                    width: 100%;
                }
            }
        }
    }
    #contact_area {
        height: 200px;
        .inner{
            width: 90%;
        }
    }
    #datail_area{
        height: 200px;
    }
    #datail01 {
        .inner {
            .flex {
                .detail_txt {
                    .detail_container {
                        .list_more{
                            width: 200px;
                            height: 45px;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_mobile_480{
    .none480{
        display: block;
    }
    #product02 {
        .inner {
            .list_box {
                .tab_area{
                    ul {
                        li {
                            &:first-child{
                                a{
                                    padding: 8px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
@include breakpoint_mobile_414{
    .sub_mi{
        font-size: 25px;
    }
    .sub_lg{
        font-size: 25px;
    }
    
 
    #about_area{
        height: 170px;
    }

    #about01 {
        .inner {
            .bg {
                .introduction{
                    width: 220px;
                    height: 460px;
                }
            }
        }
    }
    #about02 {
        .flex {
            .cont {
                .txt {
                    .box{
                        margin: 40px 10px;
                        height: 200px;
                        padding: 40px 8%;
                    }
                }
            }
        }
    }
    #product_area{
        height: 170px;
    }
    
    #product01 {
        .inner {
            .swiper_area {
                .swiper-container2 {
                    .swiper-wrapper {
                        .swiper-slide {
                            .logo_box {
                                a{
                                    figure{
                                        height: 80px;
                                        line-height: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #product02 {
        .inner{
            .list_box{
                .list_area {
                    ul{
                        li{
                            width: 100%;
                            &:nth-of-type(2n){
                                margin: 0 0 5% 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact_area{
        height: 170px;
    }
    #datail_area{
        height: 170px;
    }


 
    #datail01 {
        .inner {
            .detail_box {
                .area{
                    max-width: 100%;
                }

                
             
            }
           
            .flex{
                .swiper_area{
                    .th_box{
                        .swiper_arrow{
                            
                           .line{
                            height: 25px;
                            width: 2px;
                            top: -13px;
                           }
                            .swiper-button-prev:after, 
                            .swiper-rtl .swiper-button-next:after{
                                
                                font-size: 25px;
                                
                            }
                            .swiper-button-next:after, 
                            .swiper-rtl .swiper-button-prev:after{
                                font-size: 25px;
                            }
                           
                        }
                    }
                }
          
            }
        }
    }
}
