.sub_big {
  font-size: 60px;
}

.sub_gig {
  font-size: 50px;
}

.sub_lg {
  font-size: 40px;
}

.sub_mi {
  font-size: 34px;
}

.sub_nix {
  font-size: 20px;
}

.sub_nom {
  font-size: 16px;
}

.sub_som {
  font-size: 14px;
}

.none480 {
  display: none;
}

#about_area {
  background: url("../img/about_bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 310px;
}
#about_area .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}
#about_area .inner .title {
  font-weight: 800;
  color: #fff;
}
#about_area .inner .category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 7px 0 0;
}
#about_area .inner .category li.line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 6px;
}
#about_area .inner .category li a {
  color: #fff;
  font-weight: 600;
}

#about01 {
  margin: 100px auto 0;
  width: 85%;
}
#about01 .inner .txt {
  text-align: center;
}
#about01 .inner .txt .title {
  font-weight: 600;
}
#about01 .inner .txt .sub_title {
  color: #888888;
}
#about01 .inner .bg {
  background: url("../img/about01_bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  margin: 50px 0 0;
}
#about01 .inner .bg .title {
  color: #fff;
  font-weight: 700;
  padding: 0 0 0 100px;
}
#about01 .inner .bg .introduction {
  background: #fff;
  background: #fff;
  width: 500px;
  height: 380px;
  padding: 30px 30px 0;
  margin: 0 0 0 100px;
}
#about01 .inner .bg .introduction li {
  display: flex;
  align-items: center;
  line-height: 3;
}
#about01 .inner .bg .introduction li span {
  color: #555;
}
#about01 .inner .bg .introduction li span.sub_nom {
  width: 170px;
}
#about01 .inner .bg .introduction li span.sub_som {
  width: 100%;
}

#about02 .flex {
  width: 100%;
  margin: 0 auto 100px;
}
#about02 .flex .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
#about02 .flex .cont .bg {
  background: #f8f8f8;
  width: 25%;
  height: 100%;
}
#about02 .flex .cont .txt {
  width: 90%;
  height: 100%;
  background: #fff;
}
#about02 .flex .cont .txt .box {
  border: 4px solid #1445CE;
  margin: 100px;
  height: 310px;
  padding: 50px 8%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#about02 .flex .cont .txt .title {
  color: #1445CE;
  font-weight: 600;
}
#about02 .flex .cont .txt .sub_title p {
  color: #555555;
}
#about02 .flex .cont .txt .sub_title a {
  color: #555555;
  border: 1px solid #ddd;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 20px 0 0;
}
#about02 .flex .cont .map_area {
  width: 100%;
}
#about02 .flex .cont .map_area .root_daum_roughmap {
  width: 100% !important;
}

#product_area {
  background: url("../img/product_bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 310px;
}
#product_area .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}
#product_area .inner .title {
  font-weight: 800;
  color: #fff;
}
#product_area .inner .category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 7px 0 0;
}
#product_area .inner .category li.line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 7px;
}
#product_area .inner .category li a {
  color: #fff;
  font-weight: 600;
}

#product01 {
  margin: 100px auto 0;
}
#product01 .inner .txt {
  text-align: center;
}
#product01 .inner .txt .title {
  font-weight: 600;
}
#product01 .inner .txt .sub_title {
  color: #888888;
}
#product01 .inner .swiper_area {
  display: flex;
  align-items: center;
  margin: 50px 0 0;
  position: relative;
}
#product01 .inner .swiper_area .container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}
#product01 .inner .swiper_area .swiper-container2 {
  width: 100%;
  height: 100%;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-button-next,
#product01 .inner .swiper_area .swiper-container2 .swiper-rtl .swiper-button-prev {
  display: none;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-button-prev,
#product01 .inner .swiper_area .swiper-container2 .swiper-rtl .swiper-button-next {
  display: none;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-button-next:after,
#product01 .inner .swiper_area .swiper-container2 .swiper-rtl .swiper-button-prev:after {
  color: #1445CE;
  font-size: 30px;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-button-prev:after,
#product01 .inner .swiper_area .swiper-container2 .swiper-rtl .swiper-button-next:after {
  color: #1445CE;
  font-size: 30px;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 200px;
  height: 100%;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide .logo_box a {
  text-align: center;
  display: block;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide .logo_box a figure {
  border: 1px solid #ddd;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
}
#product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide .logo_box a span {
  color: #888888;
  display: block;
  margin: 10px 0 0;
  font-weight: 600;
}

#product02 {
  margin: 100px 0;
}
#product02 .inner .txt {
  text-align: center;
}
#product02 .inner .txt .title {
  font-weight: 600;
}
#product02 .inner .txt .line {
  width: 80px;
  height: 4px;
  background: #1445CE;
  margin: 30px auto 0;
}
#product02 .inner .list_box {
  margin: 10% 0;
}
#product02 .inner .list_box .tab_area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product02 .inner .list_box .tab_area ul li {
  width: 100%;
  text-align: center;
}
#product02 .inner .list_box .tab_area ul li a {
  color: #1445CE;
  border: 1px solid #1445CE;
  padding: 30px 0;
}
#product02 .inner .list_box .tab_area ul li a.active {
  color: #fff;
  background: #1445CE;
}
#product02 .inner .list_box .list_area {
  width: 85%;
  margin: 50px auto 0;
}
#product02 .inner .list_box .list_area ul:after {
  content: "";
  clear: both;
  display: block;
}
#product02 .inner .list_box .list_area ul li {
  text-align: center;
  background: #F8F8F8;
  float: left;
  width: 31.33%;
  margin: 0 3% 5% 0;
}
#product02 .inner .list_box .list_area ul li:nth-of-type(3n) {
  margin: 0 0 5% 0;
}
#product02 .inner .list_box .list_area ul li .thumb {
  padding: 5%;
}
#product02 .inner .list_box .list_area ul li .txt {
  padding: 0 5% 5%;
}
#product02 .inner .list_box .list_area ul li .txt a span {
  display: block;
}
#product02 .inner .list_box .list_area ul li .txt a span.category {
  color: #1445CE;
  border: 2px solid #1445CE;
  width: 120px;
  border-radius: 30px;
  padding: 3px 0;
  margin: 0 auto 5%;
  font-weight: 600;
}
#product02 .inner .list_box .list_area ul li .txt a .title_box {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5% 0;
}
#product02 .inner .list_box .list_area ul li .txt a .title_box .enf {
  color: #888888;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
#product02 .inner .list_box .list_area ul li .txt a .title_box .hnf {
  color: #555555;
  font-weight: 600;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
#product02 .inner .list_box .list_area ul li .more {
  color: #888;
  border: 1px solid #ddd;
  height: 45px;
  line-height: 45px;
  width: 200px;
  margin: 5% auto 0;
  background: #fff;
}

#contact_area {
  background: url("../img/contact_bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 310px;
}
#contact_area .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}
#contact_area .inner .title {
  font-weight: 800;
  color: #fff;
}
#contact_area .inner .category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 7px 0 0;
}
#contact_area .inner .category li.line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 7px;
}
#contact_area .inner .category li a {
  color: #fff;
  font-weight: 600;
}

#contact01 {
  width: 90%;
  margin: 100px auto 0;
}
#contact01 .inner .txt {
  text-align: center;
}
#contact01 .inner .txt .title {
  font-weight: 600;
}
#contact01 .inner .txt .sub_title {
  color: #888888;
}
#contact01 .inner .form_area {
  margin: 50px auto;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contact01 .inner .form_area figure {
  width: 700px;
}
#contact01 .inner .form_area figure .pc {
  display: block;
}
#contact01 .inner .form_area figure .m {
  display: none;
}
#contact01 .inner .form_area .inq {
  width: 100%;
  margin: 0 0 0 5%;
}
#contact01 .inner .form_area .inq .title {
  margin: 30% 0 0px;
}
#contact01 .inner .form_area .inq form {
  margin: 15% 0 0;
}
#contact01 .inner .form_area .inq p {
  display: flex;
  margin: 10px 0;
}
#contact01 .inner .form_area .inq p label {
  width: 120px;
}
#contact01 .inner .form_area .inq p input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #ddd;
  outline: 0;
}
#contact01 .inner .form_area .inq p textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  height: 100px;
  border: 1px solid #ddd;
  outline: 0;
}
#contact01 .inner .form_area .inq p button {
  border: 0;
  outline: 0;
  background: #1445CE;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 300px;
  margin: 20px auto 0;
  font-weight: 600;
}
#contact01 .inner .form_area .inq .title {
  color: #1445CE;
  font-weight: 600;
}

#datail_area {
  background: url("../img/product_bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 310px;
}
#datail_area .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}
#datail_area .inner .title {
  font-weight: 800;
  color: #fff;
}
#datail_area .inner .category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 7px 0 0;
}
#datail_area .inner .category li.line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 10px;
}
#datail_area .inner .category li a {
  color: #fff;
  font-weight: 600;
}

#datail01 {
  position: relative;
  margin: 10% auto;
  width: 90%;
}
#datail01 .inner .flex {
  display: flex;
  justify-content: space-between;
}
#datail01 .inner .flex .swiper_area {
  width: 50%;
  position: relative;
}
#datail01 .inner .flex .swiper_area .th_box {
  display: flex;
  position: relative;
  align-items: start;
}
#datail01 .inner .flex .swiper_area .th_box .mySwiper1 {
  margin: 30px 0;
}
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow {
  position: relative;
  width: 150px;
  top: 50px;
}
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow .line {
  width: 3px;
  height: 30px;
  background: #1445CE;
  position: absolute;
  top: -14px;
  left: 50%;
}
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-button-prev:after,
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-rtl .swiper-button-next:after {
  color: #1445CE;
  font-size: 30px;
  font-weight: 600;
}
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-button-next:after,
#datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-rtl .swiper-button-prev:after {
  color: #1445CE;
  font-size: 30px;
  font-weight: 600;
}
#datail01 .inner .flex .detail_txt {
  width: 100%;
  margin: 0 0 0 4%;
}
#datail01 .inner .flex .detail_txt .flex {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: end;
}
#datail01 .inner .flex .detail_txt .flex .category {
  color: #1445CE;
  border: 2px solid #1445CE;
  width: 120px;
  border-radius: 30px;
  padding: 3px 0;
  text-align: center;
  font-weight: 600;
}
#datail01 .inner .flex .detail_txt .flex .subtxt {
  color: #888888;
}
#datail01 .inner .flex .detail_txt .detail_container {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  height: 600px;
}
#datail01 .inner .flex .detail_txt .detail_container .subject {
  font-weight: 600;
  margin: 20px 0;
  width: 100%;
}
#datail01 .inner .flex .detail_txt .detail_container .box {
  border: 1px solid #ddd;
  width: 100%;
}
#datail01 .inner .flex .detail_txt .detail_container .box ul {
  padding: 20px;
}
#datail01 .inner .flex .detail_txt .detail_container .box ul li {
  color: #888;
  display: flex;
  align-items: baseline;
  line-height: 2;
}
#datail01 .inner .flex .detail_txt .detail_container .box ul li i {
  width: 5px;
  height: 5px;
  background: #ddd;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: 0 5px 0 0;
}
#datail01 .inner .flex .detail_txt .detail_container .list_more {
  width: 250px;
  height: 60px;
  line-height: 60px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 auto;
  color: #888;
}
#datail01 .inner .detail_box {
  margin: 10% 0 0;
}
#datail01 .inner .detail_box .title {
  text-align: center;
  color: #888;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}
#datail01 .inner .detail_box .area {
  max-width: 35%;
  margin: 50px auto;
}

@media (max-width: 1600px) {
  #product01 .inner .swiper_area .container {
    margin: 0 50px;
  }
  #product01 .inner .swiper_area .container .swiper-container2 .swiper-button-next,
  #product01 .inner .swiper_area .container .swiper-container2 .swiper-rtl .swiper-button-prev {
    display: block;
  }
  #product01 .inner .swiper_area .container .swiper-container2 .swiper-button-prev,
  #product01 .inner .swiper_area .container .swiper-container2 .swiper-rtl .swiper-button-next {
    display: block;
  }
  #product01 .inner .swiper_area .container .swiper-container2 .swiper-slide {
    width: 195px;
  }
}
@media (max-width: 1360px) {
  .sub_nom {
    font-size: 14px;
  }
  #datail01 .inner .flex .detail_txt .detail_container .box {
    margin: 0;
  }
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow {
    width: 200px;
  }
}
@media (max-width: 1280px) {
  .sub_big {
    font-size: 50px;
  }
  .sub_gig {
    font-size: 40px;
  }
  .sub_mi {
    font-size: 30px;
  }
  .sub_nix {
    font-size: 18px;
  }
  .sub_nom #about_area {
    height: 250px;
  }
  #about01 .inner .bg {
    padding: 50px 0 70px;
  }
  #about02 .flex .cont {
    height: 500px;
  }
  #about02 .flex .cont .map_area .root_daum_roughmap .wrap_map {
    height: 468px !important;
  }
  #about02 .flex .cont .txt .box {
    margin: 56px 67px;
    height: 280px;
  }
  #product_area {
    height: 250px;
  }
  #product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide .logo_box a figure {
    height: 70px;
    line-height: 70px;
  }
  #product02 .inner .list_box .tab_area ul li a {
    padding: 20px 0;
  }
  #product02 .inner .list_box .list_area ul li .more {
    width: 145px;
  }
  #product02 .inner .list_box .list_area ul li .txt a span.category {
    width: 100px;
  }
  #contact_area {
    height: 250px;
  }
  #datail_area {
    height: 250px;
  }
}
@media (max-width: 1024px) {
  #about01 .inner .bg .title {
    text-align: center;
    padding: 0 0 20px 0;
  }
  #about01 .inner .bg .introduction {
    margin: 0 auto;
  }
  #about02 .flex {
    width: 77%;
    margin: 0 auto 50px;
  }
  #about02 .flex .cont {
    display: block;
    height: 100%;
  }
  #about02 .flex .cont .txt {
    width: 100%;
  }
  #about02 .flex .cont .bg {
    display: none;
  }
  #product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide {
    width: 180px;
  }
  #product02 .inner .list_box .list_area ul li {
    width: 48.5%;
  }
  #product02 .inner .list_box .list_area ul li:nth-of-type(2n) {
    margin: 0 0 5% 0;
  }
  #product02 .inner .list_box .list_area ul li:nth-of-type(3n) {
    margin: 0 3% 5% 0;
  }
  #contact01 .inner .form_area {
    width: 100%;
  }
  #contact01 .inner .form_area .inq p button {
    width: 200px;
  }
  #datail01 .inner .detail_box .area {
    max-width: 80%;
  }
  #datail01 .inner .flex {
    display: block;
  }
  #datail01 .inner .flex .swiper_area {
    width: 100%;
    margin: 0 auto;
  }
  #datail01 .inner .flex .detail_txt {
    width: 100%;
    margin: 0 0 10% 0;
  }
  #datail01 .inner .flex .detail_txt .detail_container {
    align-content: flex-start;
    height: 100%;
  }
  #datail01 .inner .flex .detail_txt .detail_container .list_more {
    margin: 5% auto;
  }
}
@media (max-width: 768px) {
  .sub_big {
    font-size: 45px;
  }
  .sub_gig {
    font-size: 35px;
  }
  #about01 .inner .bg .introduction {
    width: 400px;
    padding: 30px;
  }
  #about02 .flex .cont .txt .box {
    height: 240px;
  }
  #contact01 .inner .form_area {
    display: block;
  }
  #contact01 .inner .form_area figure {
    width: 100%;
  }
  #contact01 .inner .form_area figure .pc {
    display: none;
  }
  #contact01 .inner .form_area figure .m {
    display: block;
  }
  #contact01 .inner .form_area .inq {
    margin: 0;
  }
  #contact01 .inner .form_area .inq .title {
    margin: 10% 0 0;
  }
  #contact01 .inner .form_area .inq form {
    margin: 50px 0 0;
  }
}
@media (max-width: 640px) {
  #about01 .inner .bg .introduction {
    width: 300px;
    height: 400px;
  }
  #about02 .flex .cont .txt .box {
    margin: 56px 30px;
    height: 200px;
  }
  #about02 .flex .cont .map_area .root_daum_roughmap .wrap_map {
    height: 350px !important;
  }
}
@media (max-width: 540px) {
  .sub_big {
    font-size: 40px;
  }
  .sub_gig {
    font-size: 30px;
  }
  .sub_lg {
    font-size: 30px;
  }
  .sub_som {
    font-size: 12px;
  }
  .sub_nom {
    font-size: 14px;
  }
  .sub_nix {
    font-size: 15px;
  }
  #about_area {
    height: 200px;
  }
  #about_area .inner {
    width: 90%;
  }
  #about01 {
    width: 100%;
  }
  #about01 .inner .bg .introduction {
    height: 355px;
  }
  #about02 .flex {
    width: 90%;
  }
  #product_area {
    height: 200px;
  }
  #product_area .inner {
    width: 90%;
  }
  #product02 .inner .list_box .list_area {
    width: 100%;
  }
  #contact_area {
    height: 200px;
  }
  #contact_area .inner {
    width: 90%;
  }
  #datail_area {
    height: 200px;
  }
  #datail01 .inner .flex .detail_txt .detail_container .list_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
  }
}
@media (max-width: 480px) {
  .none480 {
    display: block;
  }
  #product02 .inner .list_box .tab_area ul li:first-child a {
    padding: 8px 0;
  }
}
@media (max-width: 414px) {
  .sub_mi {
    font-size: 25px;
  }
  .sub_lg {
    font-size: 25px;
  }
  #about_area {
    height: 170px;
  }
  #about01 .inner .bg .introduction {
    width: 220px;
    height: 460px;
  }
  #about02 .flex .cont .txt .box {
    margin: 40px 10px;
    height: 200px;
    padding: 40px 8%;
  }
  #product_area {
    height: 170px;
  }
  #product01 .inner .swiper_area .swiper-container2 .swiper-wrapper .swiper-slide .logo_box a figure {
    height: 80px;
    line-height: 80px;
  }
  #product02 .inner .list_box .list_area ul li {
    width: 100%;
  }
  #product02 .inner .list_box .list_area ul li:nth-of-type(2n) {
    margin: 0 0 5% 0;
  }
  #contact_area {
    height: 170px;
  }
  #datail_area {
    height: 170px;
  }
  #datail01 .inner .detail_box .area {
    max-width: 100%;
  }
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow .line {
    height: 25px;
    width: 2px;
    top: -13px;
  }
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-button-prev:after,
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-rtl .swiper-button-next:after {
    font-size: 25px;
  }
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-button-next:after,
  #datail01 .inner .flex .swiper_area .th_box .swiper_arrow .swiper-rtl .swiper-button-prev:after {
    font-size: 25px;
  }
}/*# sourceMappingURL=sub.css.map */